<div class="main-content">
  <div class="form-container">
    <ng-container
      *ngIf="auth.isAuthenticated$ | async; then loggedOut;"
    ></ng-container>
    <ng-template #loggedIn>
      <div class="home-header">
        <a (click)="loginWithRedirect()">
          <mat-card appearance="outlined" class="home-page-card">
            <mat-card-header>
              <mat-card-title>Log In</mat-card-title>
              <mat-card-subtitle
                >Please log in to view data.</mat-card-subtitle
              >
            </mat-card-header>
          </mat-card>
        </a>
      </div>
    </ng-template>
    <ng-template #loggedOut>
      <div class="home-header">
        <h1>Inventory Management</h1>
        <h3>Select an option below, or choose from the menu on the left</h3>
        <mat-card appearance="outlined" class="home-page-card">
          <mat-card-header
            [routerLink]="['/products']"
            routerLinkActive="active"
          >
            <mat-card-title>Products</mat-card-title>
            <mat-card-subtitle
              >Search, create, delete, or edit product
              information</mat-card-subtitle
            >
          </mat-card-header>
        </mat-card>
        <mat-card appearance="outlined" class="home-page-card">
          <mat-card-header [routerLink]="['/parts']" routerLinkActive="active">
            <mat-card-title>Parts</mat-card-title>
            <mat-card-subtitle
              >Search, create, delete, or edit part
              information</mat-card-subtitle
            >
          </mat-card-header>
        </mat-card>
        <mat-card appearance="outlined" class="home-page-card">
          <mat-card-header
            [routerLink]="['/sales-orders']"
            routerLinkActive="active"
          >
            <mat-card-title>Sales Orders</mat-card-title>
            <mat-card-subtitle
              >Search, create, delete, or edit sales order
              information</mat-card-subtitle
            >
          </mat-card-header>
        </mat-card>
        <mat-card appearance="outlined" class="home-page-card">
          <mat-card-header
            [routerLink]="['/purchase-orders']"
            routerLinkActive="active"
          >
            <mat-card-title>Purchase Orders</mat-card-title>
            <mat-card-subtitle
              >Search, create, delete, or edit purchase order
              information</mat-card-subtitle
            >
          </mat-card-header>
        </mat-card>
        <mat-card appearance="outlined" class="home-page-card">
          <mat-card-header
            [routerLink]="['/bill-of-materials']"
            routerLinkActive="active"
          >
            <mat-card-title>Bill Of Materials</mat-card-title>
            <mat-card-subtitle
              >Search, create, delete, or edit bill of material
              information</mat-card-subtitle
            >
          </mat-card-header>
        </mat-card>
        <mat-card appearance="outlined" class="home-page-card">
          <mat-card-header
            [routerLink]="['/inventory']"
            routerLinkActive="active"
          >
            <mat-card-title>Inventory Reports</mat-card-title>
            <mat-card-subtitle
              >Create, or edit inventory reports</mat-card-subtitle
            >
          </mat-card-header>
        </mat-card>
        <router-outlet></router-outlet>
      </div>
    </ng-template>
  </div>
</div>
