<div class="page-header">
  <div class="page-header-title">
    <a (click)="goBack()">
      <span class="material-symbols-outlined"> arrow_back </span>
    </a>
    <h1>Parts</h1>
  </div>
</div>

<div class="main-content">
  <mat-form-field class="list-search" color="accent">
    <mat-label>Part Search</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Search for Part by Name or Sku"
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 list-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let part" class="table-cell-number">
        {{ part.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="sku">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sku</th>
      <td mat-cell *matCellDef="let part">{{ part.sku }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let part">{{ part.name }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let part" class="table-cell-number">
        {{ part.price | currency }}
      </td>
    </ng-container>

    <ng-container matColumnDef="unitsInStock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Units in Stock</th>
      <td mat-cell *matCellDef="let part" class="table-cell-number">
        {{ part.unitsInStock }}
      </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let part" class="table-cell-number">
        {{ part.location }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [routerLink]="['/parts', row.id]"
    ></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[15, 25, 50]"
    showFirstLastButtons
  ></mat-paginator>
  <div class="list-button">
    <button
      color="primary"
      mat-raised-button
      [routerLink]="['/parts/create']"
      routerLinkActive="active"
    >
      Add Part
    </button>
    <router-outlet></router-outlet>
  </div>
</div>
